### Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk
.env

### Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
*.md.tmp

### IDEs
.vscode/
.idea/
.project
.pydevproject
.settings/
